.list-item {
  display: flex;
  border: solid #DFDAD7;
  width: 50%;
  margin: 8px 0;
  max-height: 70px;
  flex-direction: column;
  font-size: 18px;
  transition: max-height 2s;
}

.list-item--click {
  max-height: 700px;
  transition: max-height 2s;
}

.list-item__title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.list-item__name {
  margin-left: 12px;
  margin-right: 8px;
}

.list-item__buttons {
  display: flex;
}

.list-item__buttons button{
  margin: 0 8px 0 3px;
}

.list-item__down-arrow{
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 8px 8px 4px;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  height: 0;
  width: 0;
  transition: all 0.5s ease-in-out;
}

.list-item__down-arrow-up { 
  transform: rotate(-180deg) translateY(50%);
}


.list-item__details-block{
  display: flex;
  flex-direction: column;
}